* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
/* navbar start here */
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  background: coral;
  font-size: 1.2rem;
}
.nav_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.nav_items a {
  padding: 10px;
}
.nav_items a:hover {
  background-color: #dfabb4;
  color: white;
}
.nav_item {
  padding: 10px;
}

.logo {
  font-size: 2.2em;
  background-color: #214875;
  color: white;
}
.mobile_menu {
  display: none;
}

/* navbar end here */
/* menu for mobile navigation */
@media only screen and (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }
  .mobile_menu {
    display: block;
  }
  .nav_items {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    background-color: aqua;
    transition: all 0.5s;
  }
  .nav_items_s {
    left: 0px;
  }
}
